table {
  border: 2px solid black;
}

table tr {
  display: flex;
}

table tr td {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}